![](_static/cmpl-sql.png)

### Container

In [47]:
# https://hub.docker.com/_/mariadb/
# !docker rmi mariadb 
!docker pull mariadb

Using default tag: latest
latest: Pulling from library/mariadb
Digest: sha256:6135f5b851e7fe263dcf0edf3480cdab1ab28c4287e867c5d83fbe967412ea14
Status: Image is up to date for mariadb:latest

In [51]:
!docker ps

CONTAINER ID        IMAGE               COMMAND                  CREATED              STATUS              PORTS                       NAMES
1100623e04ff        mariadb:latest      "docker-entrypoint.s…"   About a minute ago   Up About a minute   127.0.0.1:43306->3306/tcp   some-mariadb

In [ ]:
!docker run --name some-mariadb -p 127.0.0.1:43306:3306 -e MYSQL_ROOT_PASSWORD=pwd123 -e MYSQL_USER=sauser -e MYSQL_PASSWORD=sapassword -e MYSQL_DATABASE=sadb --rm mariadb:latest

Initializing database

PLEASE REMEMBER TO SET A PASSWORD FOR THE MariaDB root USER !
To do so, start the server, then issue the following commands:

'/usr/bin/mysqladmin' -u root password 'new-password'
'/usr/bin/mysqladmin' -u root -h  password 'new-password'

Alternatively you can run:
'/usr/bin/mysql_secure_installation'

which will also give you the option of removing the test
databases and anonymous user created by default.  This is
strongly recommended for production servers.

See the MariaDB Knowledgebase at http://mariadb.com/kb or the
MySQL manual for more instructions.

Please report any problems at http://mariadb.org/jira

The latest information about MariaDB is available at http://mariadb.org/.
You can find additional information about the MySQL part at:
http://dev.mysql.com
Consider joining MariaDB's strong and vibrant community:
https://mariadb.org/get-involved/

Database initialized
MySQL init process in progress...
2018-04-26 12:16:49 140415099660160 [Note] mysqld (mysqld 10.2.14-MariaDB-10.2.14+maria~jessie) starting as process 100 ...
2018-04-26 12:16:49 140415099660160 [Note] InnoDB: Mutexes and rw_locks use GCC atomic builtins
2018-04-26 12:16:49 140415099660160 [Note] InnoDB: Uses event mutexes
2018-04-26 12:16:49 140415099660160 [Note] InnoDB: Compressed tables use zlib 1.2.8
2018-04-26 12:16:49 140415099660160 [Note] InnoDB: Using Linux native AIO
2018-04-26 12:16:49 140415099660160 [Note] InnoDB: Number of pools: 1
2018-04-26 12:16:49 140415099660160 [Note] InnoDB: Using SSE2 crc32 instructions
2018-04-26 12:16:49 140415099660160 [Note] InnoDB: Initializing buffer pool, total size = 256M, instances = 1, chunk size = 128M
2018-04-26 12:16:49 140415099660160 [Note] InnoDB: Completed initialization of buffer pool
2018-04-26 12:16:49 140414354388736 [Note] InnoDB: If the mysqld execution user is authorized, page cleaner thread priority can be changed. See the man page of setpriority().
2018-04-26 12:16:49 140415099660160 [Note] InnoDB: Highest supported file format is Barracuda.
2018-04-26 12:16:49 140415099660160 [Note] InnoDB: 128 out of 128 rollback segments are active.
2018-04-26 12:16:49 140415099660160 [Note] InnoDB: Creating shared tablespace for temporary tables
2018-04-26 12:16:49 140415099660160 [Note] InnoDB: Setting file './ibtmp1' size to 12 MB. Physically writing the file full; Please wait ...
2018-04-26 12:16:49 140415099660160 [Note] InnoDB: File './ibtmp1' size is now 12 MB.
2018-04-26 12:16:49 140415099660160 [Note] InnoDB: 5.7.21 started; log sequence number 1619987
2018-04-26 12:16:49 140414065559296 [Note] InnoDB: Loading buffer pool(s) from /var/lib/mysql/ib_buffer_pool
2018-04-26 12:16:49 140415099660160 [Note] Plugin 'FEEDBACK' is disabled.
2018-04-26 12:16:49 140415099660160 [Warning] 'user' entry 'root@d75488f89217' ignored in --skip-name-resolve mode.
2018-04-26 12:16:49 140415099660160 [Warning] 'proxies_priv' entry '@% root@d75488f89217' ignored in --skip-name-resolve mode.
2018-04-26 12:16:49 140414065559296 [Note] InnoDB: Buffer pool(s) load completed at 180426 12:16:49
2018-04-26 12:16:49 140415099660160 [Note] Reading of all Master_info entries succeded
2018-04-26 12:16:49 140415099660160 [Note] Added new Master_info '' to hash table
2018-04-26 12:16:49 140415099660160 [Note] mysqld: ready for connections.
Version: '10.2.14-MariaDB-10.2.14+maria~jessie'  socket: '/var/run/mysqld/mysqld.sock'  port: 0  mariadb.org binary distribution
Warning: Unable to load '/usr/share/zoneinfo/leap-seconds.list' as time zone. Skipping it.
2018-04-26 12:16:51 140414898448128 [Warning] 'proxies_priv' entry '@% root@d75488f89217' ignored in --skip-name-resolve mode.
2018-04-26 12:16:51 140414898448128 [Warning] 'proxies_priv' entry '@% root@d75488f89217' ignored in --skip-name-resolve mode.

2018-04-26 12:16:51 140414898145024 [Note] mysqld (initiated by: unknown): Normal shutdown
2018-04-26 12:16:51 140414898145024 [Note] Event Scheduler: Purging the queue. 0 events
2018-04-26 12:16:51 140414301914880 [Note] InnoDB: FTS optimize thread exiting.
2018-04-26 12:16:51 140414898145024 [Note] InnoDB: Starting shutdown...
2018-04-26 12:16:51 140414065559296 [Note] InnoDB: Dumping buffer pool(s) to /var/lib/mysql/ib_buffer_pool
2018-04-26 12:16:51 140414065559296 [Note] InnoDB: Buffer pool(s) dump completed at 180426 12:16:51
2018-04-26 12:16:52 140414898145024 [Note] InnoDB: Shutdown completed; log sequence number 1620006
2018-04-26 12:16:52 140414898145024 [Note] InnoDB: Removed temporary tablespace data file: "ibtmp1"
2018-04-26 12:16:52 140414898145024 [Note] mysqld: Shutdown complete


MySQL init process done. Ready for start up.

2018-04-26 12:16:52 140022890420096 [Note] mysqld (mysqld 10.2.14-MariaDB-10.2.14+maria~jessie) starting as process 1 ...
2018-04-26 12:16:52 140022890420096 [Note] InnoDB: Mutexes and rw_locks use GCC atomic builtins
2018-04-26 12:16:52 140022890420096 [Note] InnoDB: Uses event mutexes
2018-04-26 12:16:52 140022890420096 [Note] InnoDB: Compressed tables use zlib 1.2.8
2018-04-26 12:16:52 140022890420096 [Note] InnoDB: Using Linux native AIO
2018-04-26 12:16:52 140022890420096 [Note] InnoDB: Number of pools: 1
2018-04-26 12:16:52 140022890420096 [Note] InnoDB: Using SSE2 crc32 instructions
2018-04-26 12:16:52 140022890420096 [Note] InnoDB: Initializing buffer pool, total size = 256M, instances = 1, chunk size = 128M
2018-04-26 12:16:52 140022890420096 [Note] InnoDB: Completed initialization of buffer pool
2018-04-26 12:16:52 140022145324800 [Note] InnoDB: If the mysqld execution user is authorized, page cleaner thread priority can be changed. See the man page of setpriority().
2018-04-26 12:16:52 140022890420096 [Note] InnoDB: Highest supported file format is Barracuda.
2018-04-26 12:16:52 140022890420096 [Note] InnoDB: 128 out of 128 rollback segments are active.
2018-04-26 12:16:52 140022890420096 [Note] InnoDB: Creating shared tablespace for temporary tables
2018-04-26 12:16:52 140022890420096 [Note] InnoDB: Setting file './ibtmp1' size to 12 MB. Physically writing the file full; Please wait ...
2018-04-26 12:16:52 140022890420096 [Note] InnoDB: File './ibtmp1' size is now 12 MB.
2018-04-26 12:16:52 140022890420096 [Note] InnoDB: 5.7.21 started; log sequence number 1620006
2018-04-26 12:16:52 140021570991872 [Note] InnoDB: Loading buffer pool(s) from /var/lib/mysql/ib_buffer_pool
2018-04-26 12:16:52 140022890420096 [Note] Plugin 'FEEDBACK' is disabled.
2018-04-26 12:16:52 140022890420096 [Note] Server socket created on IP: '::'.
2018-04-26 12:16:52 140022890420096 [Warning] 'proxies_priv' entry '@% root@d75488f89217' ignored in --skip-name-resolve mode.
2018-04-26 12:16:52 140021570991872 [Note] InnoDB: Buffer pool(s) load completed at 180426 12:16:52
2018-04-26 12:16:52 140022890420096 [Note] Reading of all Master_info entries succeded
2018-04-26 12:16:52 140022890420096 [Note] Added new Master_info '' to hash table
2018-04-26 12:16:52 140022890420096 [Note] mysqld: ready for connections.
Version: '10.2.14-MariaDB-10.2.14+maria~jessie'  socket: '/var/run/mysqld/mysqld.sock'  port: 3306  mariadb.org binary distribution

In [53]:
!docker ps

CONTAINER ID        IMAGE               COMMAND                  CREATED              STATUS              PORTS                       NAMES
1100623e04ff        mariadb:latest      "docker-entrypoint.s…"   About a minute ago   Up About a minute   127.0.0.1:43306->3306/tcp   some-mariadb

### Console

`docker exec -it some-mariadb bash -c 'exec mysql -hlocalhost -P3306 -uroot -p`

`mysql -hlocalhost -P43306 -uroot -p --protocol=TCP`

### Python

In [54]:
!pip install PyMySQL

Requirement already satisfied (use --upgrade to upgrade): PyMySQL in /var/www/jupyter/prod/lib/python2.7/site-packages
Cleaning up...

In [55]:
import pymysql.cursors

In [57]:
connection = pymysql.connect(host='127.0.0.1',
                             user='root',
                             port=43306,
                             password='pwd123',
                             db='sadb',
                             charset='utf8',
                             cursorclass=pymysql.cursors.DictCursor,
                             unix_socket=False)

In [58]:
with connection.cursor() as cursor:
    cursor.execute('''
    CREATE TABLE `users` (
    `id` int(11) NOT NULL AUTO_INCREMENT,
    `email` varchar(255) COLLATE utf8_bin NOT NULL,
    `password` varchar(255) COLLATE utf8_bin NOT NULL,
    PRIMARY KEY (`id`)
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin
        AUTO_INCREMENT=1 ;''')

In [59]:
with connection.cursor() as cursor:
    sql = "INSERT INTO `users` (`email`, `password`) VALUES (%s, %s)"
    cursor.execute(sql, ('webmaster@python.org', 'very-secret'))

In [60]:
connection.commit()

In [61]:
with connection.cursor() as cursor:
    sql = "SELECT `id`, `password` FROM `users` WHERE `email`=%s"
    cursor.execute(sql, ('webmaster@python.org',))
    result = cursor.fetchone()
    print(result)

{'password': 'very-secret', 'id': 1}

In [37]:
connection.close()

### Очистка

In [62]:
!docker container ls

CONTAINER ID        IMAGE               COMMAND                  CREATED             STATUS              PORTS                       NAMES
1100623e04ff        mariadb:latest      "docker-entrypoint.s…"   11 minutes ago      Up 11 minutes       127.0.0.1:43306->3306/tcp   some-mariadb

In [63]:
!docker container stop some-mariadb

some-mariadb

In [64]:
!docker container ls

CONTAINER ID        IMAGE               COMMAND             CREATED             STATUS              PORTS               NAMES

### Задача
Реализовать класс транспорта mysql со следующим функционалом.  
методы:  
`sqlexec(sql)` - выполняет sql запрос на целевой системе, возвращает результат выполнения этого запроса. (не курсор, а данные)
* Опционально подумать о том как возвращать не данные, а таблицу в sqlite


Реализовать проверку наличия определенной базы данных и непустой таблицы в этой базе данных (названия на ваш выбор).
* Опционально подумать как можно реализовать настраиваемость этого функционала.